{%- if site.last_updated -%}
  {%- assign now_month = "now" | date: "%-m" | plus: 0 -%}
  {%- case now_month -%}
    {%- when 12, 1, 2 -%}
      {%- assign last_updated_season = "Winter" -%}
    {%- when 3, 4, 5 -%}
      {%- assign last_updated_season = "Spring" -%}
    {%- when 6, 7, 8 -%}
      {%- assign last_updated_season = "Summer" -%}
    {%- else -%}
      {%- assign last_updated_season = "Fall" -%}
  {%- endcase -%}
{%- endif -%}
{% if site.footer_fixed %}
    <footer class="fixed-bottom">
      <div class="container mt-0 text-center">
        &copy; Copyright {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }} {{ site.footer_text }}
        {%- if site.impressum_path -%}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
        {%- endif -%}
        {%- if site.last_updated -%}
        Last updated: {{ "now" | date: '%B %d, %Y' }}.
        {%- endif %}
      </div>
    </footer>
    {%- else -%}
    <footer class="sticky-bottom mt-5">
      <div class="container text-center">
        &copy; Copyright {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }} {{ site.footer_text }}
        {%- if site.impressum_path -%}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
        {%- endif -%}
        {%- if site.last_updated -%}
        Last updated: {{ "now" | date: '%B %d, %Y' }}.
        {%- endif %}
      </div>
    </footer>
    {%- endif %}